@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Inter');

h2 {
  @apply text-xl;
}

a {
  @apply text-teal-600 inline-block;
}

a:hover {
  @apply text-teal-700;
}
* {
  font-family: "Inter"
}
button.primary {
  @apply text-lg text-white rounded-lg bg-primary px-8 py-3;
}

button.secondery {
  @apply text-lg text-lightBlack border border-lightBrown border-2 rounded-lg  px-6 py-3;
}

button.seconderyFontWhite {
  @apply text-lg text-white border border-lightBrown border-2 rounded-lg  px-6 py-3;
}

button.tabButtonActive {
  @apply text-lg text-black rounded-md bg-lighterGray p-4;
}

button.tabButtonNormal {
  @apply text-lg text-customGray rounded-md p-4;
}

.bkayInput {
  padding: 16px;
  background: #b57f662d;
  border: 1px solid #b57f6644;
  border-radius: 10px;
}

.bkayInput:focus {
  border: 1px solid #b57f66;
}

@tailwind utilities;

