@import url("https://fonts.googleapis.com/css?family=Inter");

/* Global Styles */
:root {
  --primary-color: #b57f66;
  --dark-color: #363636;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --primary-bg: #ffffff;
  --page-bgColor: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #363636;
  overflow: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 8.125rem;
  line-height: 103.69%;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.large {
  font-size: 2.8125rem;
  line-height: 103.69%;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
}

.medium {
  font-size: 1.5rem;
  line-height: 103.69%;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.my-5 {
  margin: 3rem 0 1rem 10rem;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #333;
  padding: 0.875rem 1.4375rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.bg-primary {
  background: var(--primary-bg);
  color: #363636;
}

.btn-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.btn-secondary {
  background: var(--page-bgColor);
  border: 1px solid #b57f66;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  font-size: 18px;
  color: var(--dark-color);
  padding: 0.45rem;
  margin: 0 1.3rem;
}

.navbar a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid #b57f66;
}

.App-logo {
  width: 160px;
  height: 80px;
}

.img-homeElement {
  width: 220px;
  height: 110px;
}

.homePageImg {
  width: 717px;
  height: 703px;
  margin: 0;
}
